body {
    direction: rtl;
}

.lower .orange_label::after {
   content: "عرض";
   right: 80%;
}

.lower .green_label::after {
   content: "عرض";
   right: 80%;
}

header ul {
    width: 47%;
 }

 main .prices::before {
   right: 0;
 }

 .unlimited_collection>div {
    padding: 10% 7% 10% 0%;  
 }

 .unlimited_collection::after {
    right: 0;
 }

 input {
    direction: initial;
 }

 @media (max-width:1300px) {

   header {
      flex-direction: column;
      text-align: center;
   }

   header > div:last-child {
      padding-left: 15%;
      width: 40%;
   }

   header ul {
      width: 90%;
   }

 }


 @media (max-width:1100px) {

   header > div:last-child {
      padding-left: 2%;
   }
 }
